{
  "parser": "babel-eslint",
  "extends": [
    "@react-native-community",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "alias": [["app", "."]]
    },
    "import/ignore": [
      "node_modules/react-native/index\\.js$"
    ],
    "import/core-modules": [
      "Dimensions",
      "NativeMethodsMixin",
      "Easing"
    ],
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "prettier/prettier": 0,
    "arrow-parens": [
      "error",
      "always"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "no-return-assign": [
      "error",
      "except-parens"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_value"
        ]
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "function-paren-newline": 0,
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/prefer-default-export": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/label-has-for": 2,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-console": 2,
    "no-use-before-define": 0,
    "prefer-template": 2,
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": [
      2,
      "multiline"
    ],
    "react/sort-comp": [
      2,
      {
        "order": [
          "static-methods",
          "type-annotations",
          "instance-variables",
          "lifecycle",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "/^on(?!(.+Cb$)).+$/",
          "everything-else",
          "/^render(?!(ed$)).+$/",
          "render"
        ]
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/jsx-no-target-blank": 0,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/destructuring-assignment": 0,
    "require-yield": 0,
    "import/no-webpack-loader-syntax": 0,
    "allowSamePrecedence": 0,
    "no-mixed-operators": [
      2,
      {
        "allowSamePrecedence": true
      }
    ],
    "no-undef": 2,
    "flowtype/define-flow-type": 1,
    "flowtype/no-types-missing-file-annotation": 0,
    "no-plusplus": 0,
    "react/static-property-placement": ["warn", "property assignment", {
      "propTypes": "static public field",
      "defaultProps": "static public field",
      "contextTypes": "static public field",
      "childContextTypes": "static public field"
    }]
  }
}
